<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Atendimentos do Usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/menu.html">Instituição X</a>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/menu.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/atendente/listar.html">Atendentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuario/listar.html">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categoria/listar.html">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/atendimento/listar.html">Atendimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/evento/listar.html">Eventos</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container" th:with="atendimentosCadastrados = ${#lists.isEmpty(atendimentos)}">
        <h1>Atendimentos - <span th:text="${usuario.nomeCompleto}">Nome</span></h1>
        <div th:if="${atendimentosCadastrados}">
            <p>Não há atendimentos para este usuário.</p>
        </div>
        <div th:unless="${atendimentosCadastrados}">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Data de criação</th>
                        <th scope="col">Hora de criação</th>
                        <th scope="col">Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="atendimento : ${atendimentos}">
                        <td><span th:text="${atendimento.status}">Status</span></td>
                        <td><span th:text="${atendimento.dataCriacao}">Data de criação</span></td>
                        <td><span th:text="${atendimento.horaCriacao}">Hora da criação</span></td>
                        <td><span th:text="${atendimento.descricao}">Descrição</span></td>
                        <td><a class="btn btn-dark" th:href="@{/atendimento/detalhar.html/{id}(id=${atendimento.id})}" role="button">Detalhar</a></td>
                    </tr>
                    <tr>
                        <th colspan="4">Total</th>
                        <td><span th:text="${#lists.size(atendimentos)}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-dark" href="/usuario/listar.html" role="button">Voltar</a>
    </div>
</body>

</html>