<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cadastrar Atendente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Cadastrar Atendente</h1>
        <br>
        <form method="POST">
            <div class="form-group">
                <label for="nomeCompleto">Nome completo: </label>
                <input type="text" class="form-control" name="nomeCompleto">
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="telefone">Telefone: </label>
                    <input type="text" class="form-control" name="telefone">
                </div>
                <div class="form-group col">
                    <label for="celular">Celular: </label>
                    <input type="text" class="form-control" name="celular">
                </div>
            </div>
            <div class="form-group">
                <label for="email">E-mail: </label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="codigoAcesso">Código de acesso: </label>
                <input type="password" class="form-control" name="codigoAcesso">
            </div>
            <button type="submit" class="btn btn-dark">Cadastrar</button>
        </form>
    </div>
</body>

</html>