<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Editar Atendente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/menu.html">Instituição X</a>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/menu.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/atendente/listar.html">Atendentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuario/listar.html">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categoria/listar.html">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/atendimento/listar.html">Atendimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/evento/listar.html">Eventos</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <h1>Editar Atendente</h1>
        <br>
        <form method="POST">
            <div class="form-group">
                <label for="nomeCompleto">Nome completo: </label>
                <input type="text" class="form-control" name="nomeCompleto" th:value="${atendente.nomeCompleto}">
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="telefone">Telefone: </label>
                    <input type="text" class="form-control" name="telefone" th:value="${atendente.telefone}">
                </div>
                <div class="form-group col">
                    <label for="celular">Celular: </label>
                    <input type="text" class="form-control" name="celular" th:value="${atendente.celular}">
                </div>
            </div>
            <div class="form-group">
                <label for="email">E-mail: </label>
                <input type="email" class="form-control" name="email" th:value="${atendente.email}">
            </div>
            <div class="form-group">
                <label for="codigoAcesso">Código de acesso: </label>
                <input type="password" class="form-control" name="codigoAcesso" th:value="${atendente.codigoAcesso}">
            </div>
            <a class="btn btn-dark" href="/atendente/listar.html" role="button">Voltar</a>
            <button type="submit" class="btn btn-dark">Editar</button>
        </form>
    </div>
</body>

</html>