<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lista de Eventos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/menu.html">Instituição X</a>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/menu.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/atendente/listar.html">Atendentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuario/listar.html">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categoria/listar.html">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/atendimento/listar.html">Atendimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/evento/listar.html">Eventos</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container" th:with="eventosCadastrados = ${#lists.isEmpty(eventos)}">
        <h1>Lista de Eventos</h1>
        <div th:if="${eventosCadastrados}">
            <p>Não há eventos cadastrados.</p>
        </div>
        <div th:unless="${eventosCadastrados}">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Atendimento</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Data</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="evento : ${eventos}">
                        <td><span th:text="${evento.atendimento.id}">Atendimento</span></td>
                        <td><span th:text="${evento.tipo}">Tipo</span></td>
                        <td><span th:text="${evento.data}">Data</span></td>
                        <td><span th:text="${evento.hora}">Hora</span></td>
                        <td><span th:text="${evento.descricao}">Descrição</span></td>
                        <td><a class="btn btn-dark" th:href="@{/evento/editar.html/{id}(id=${evento.id})}" role="button">Editar</a></td>
                        <td><a class="btn btn-dark" th:href="@{/evento/deletar.html/{id}(id=${evento.id})}" role="button">Deletar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>