<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Editar Atendimento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/menu.html">Instituição X</a>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/menu.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/atendente/listar.html">Atendentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuario/listar.html">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categoria/listar.html">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/atendimento/listar.html">Atendimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/evento/listar.html">Eventos</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <h1>Editar Atendimento</h1>
        <form method="POST">
            <div class="form-group">
                <div th:if="${atendentes != null}">
                    <label for="atendente">Atendente: </label>
                    <select class="custom-select" name="atendente" required>
                        <option selected>Escolha ...</option>
                        <option th:each="atendente : ${atendentes}" th:value="${atendente.id}"><span
                                th:text="${atendente.nomeCompleto}">Nome completo</span></option>
                    </select>
                </div>

                <div th:if="${usuarios != null}">
                    <label for="usuario">Usuário: </label>
                    <select class="custom-select" name="usuario">
                        <option value="0"  selected>Nenhum</option>
                        <option th:each="usuario : ${usuarios}" th:value="${usuario.id}"><span
                                th:text="${usuario.nomeCompleto}">Nome completo</span></option>
                    </select>
                </div>

                <div th:if="${categorias != null}">
                    <label for="categoria">Categoria: </label>
                    <select class="custom-select" name="categoria" required>
                        <option selected>Escolha ...</option>
                        <option th:each="categoria : ${categorias}" th:value="${categoria.id}"><span
                                th:text="${categoria.titulo}">Título</span></option>
                    </select>
                </div>

                <div th:if="${status != null}">
                    <label for="status">Status: </label>
                    <select class="custom-select" name="status" required>
                        <option selected>Escolha ...</option>
                        <option value="Em revisão">Em revisão</option>
                        <option value="Aberto">Aberto</option>
                        <option value="Bloqueado">Bloqueado</option>
                        <option value="Em andamento">Em andamento</option>
                        <option value="Fechado">Fechado</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="motivo">Motivo da alteração: </label>
                <textarea class="form-control" name="motivo" required></textarea>
            </div>

            <input type="hidden" th:value="${atendimento.id}" name="atendimentoId">

            <button type="submit" class="btn btn-dark">Editar</button>
        </form>

    </div>
</body>

</html>