<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lista de Atendimentos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container" th:with="atendimentosCadastrados = ${#lists.isEmpty(atendimentos)}">
        <h1>Lista de Atendimentos</h1>
        <div th:if="${atendimentosCadastrados}">
            <p>Não há atendimentos cadastrados.</p>
        </div>
        <div th:unless="${atendimentosCadastrados}">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <!-- <th scope="col">Atendente</th> -->
                        <th scope="col">Status</th>
                        <th scope="col">Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="atendimento : ${atendimentos}">
                        <th><span th:text="${atendimento.id}">Id</span></th>
                        <!-- <td><span th:text="${atendimento.atendente.nomeCompleto}">Atendente</span></td> -->
                        <td><span th:text="${atendimento.status}">Status</span></td>
                        <td><span th:text="${atendimento.descricao}">Descrição</span></td>
                        <td><a class="btn btn-dark" th:href="@{/atendimento/editar.html/{id}(id=${atendimento.id})}" role="button">Editar</a></td>
                        <td><a class="btn btn-dark" th:href="@{/atendimento/deletar.html/{id}(id=${atendimento.id})}" role="button">Deletar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>