<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lista de Atendimentos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/menu.html">Instituição X</a>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/menu.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/atendente/listar.html">Atendentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuario/listar.html">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categoria/listar.html">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/atendimento/listar.html">Atendimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/evento/listar.html">Eventos</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container" th:with="atendimentosCadastrados = ${#lists.isEmpty(atendimentos)}">
        <h1>Lista de Atendimentos</h1>
        <div th:if="${atendimentosCadastrados}">
            <p>Não há atendimentos cadastrados.</p>
        </div>
        <div class="row" th:unless="${atendimentosCadastrados}">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdownCategoria" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categoria</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownCategoria">
                                <a class="dropdown-item" th:each="categoria : ${categorias}" th:href="@{/atendimento/listar.html/categoria/{id}(id=${categoria.id})}"><span th:text="${categoria.titulo}">categoria</span></a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdownAtendente" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Atendente</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownAtendente">
                                <a class="dropdown-item" th:each="atendente : ${atendentes}" th:href="@{/atendimento/listar.html/atendente/{id}(id=${atendente.id})}"><span th:text="${atendente.nomeCompleto}">atendente</span></a>
                            </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/atendimento/listar.html/fechados}">Fechados</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <!-- <th scope="col">Atendente</th> -->
                        <th scope="col">Usuário</th>
                        <th scope="col">Status</th>
                        <th scope="col">Data de criação</th>
                        <th scope="col">Hora de criação</th>
                        <th scope="col">Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="atendimento : ${atendimentos}">
                        <th><span th:text="${atendimento.id}">Id</span></th>
                        <!-- <td><span th:text="${atendimento.atendente.nomeCompleto}">Atendente</span></td> -->
                        <th><span th:text="${atendimento.usuario.nomeCompleto}">Usuário</span></th>
                        <td><span th:text="${atendimento.status}">Status</span></td>
                        <td><span th:text="${atendimento.dataCriacao}">Data de criação</span></td>
                        <td><span th:text="${atendimento.horaCriacao}">Hora da criação</span></td>
                        <td><span th:text="${atendimento.descricao}">Descrição</span></td>
                        <td><a class="btn btn-dark" th:href="@{/atendimento/detalhar.html/{id}(id=${atendimento.id})}" role="button">Detalhar</a></td>
                        <td><a class="btn btn-dark" th:href="@{/atendimento/editar.html/{id}(id=${atendimento.id})}" role="button">Editar</a></td>
                        <td><a class="btn btn-dark" th:href="@{/atendimento/deletar.html/{id}(id=${atendimento.id})}" role="button">Deletar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-dark" href="/atendimento/criar.html" role="button">Cadastrar</a>
    </div>
    <footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </footer>
</body>

</html>